.tile {
  width: 40px;
  height: 40px;
  border: 2px inset wheat;
}

.tetris-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tetris-row {
  display: flex;
  flex-direction: row;
}

button {
  width: 80px;
  height: 20px;
  color: blue;
  background-color: aqua;
}

body {
  background-image: url("./tetris-bg.jpg");
}

label,
h3 {
  font-size: 1.25rem;
  color: black;
  background-color: #edeef3;
}
